[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "cfDNAPro"]
	path = cfDNAPro
	url = https://github.com/hw538/cfdnapro
	shallow = true
	registered = true
